{% extends 'base.html' %}
{% import "_quick_form.html" as quick %}
{% block title %}
    <title>登录</title>
{% endblock %}
{% block page_content %}
    <div class="col-md-6 offset-3 custom-form">
        <div class="form-title">
            <h1>登录</h1>
        </div>
        {{ quick.quick_form(form,extra_classes='control-group') }}
        <div class="container">
             <div class="row" style="float: top">
            <p class="col-md-4">新用户?</p>
            <a class="col-md-4" href="{{ url_for('auth.register') }}">注册</a>
            <a class="col-md-4 btn-bd-download" href="{{ url_for('auth.reset_pass') }}"> 忘记密码</a>
        </div>
        </div>

    </div>
{% endblock %}