/*nav 字体*/

h1, h2, h3, h4, h5, h6, .nav, .navbar {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

body {
    font-family: 'Lato', cursive;
    /*字体大小*/
    font-size: 20px;
}

p {
    line-height: 1.5;
    margin: 30px 0;

}

/*链接背景颜色*/
a {
    color: black;
    /*黑色到其他颜色的过渡时间*/
    -webkit-transition: all .2s;
    transition: all .2s
}

/*鼠标覆盖上颜色*/
a:focus, a:hover {
    color: #0085a1
}

p a {
    text-decoration: underline;
}

/*自定义导航栏*/
.nav-icecola {
    background: gray;
}

.nav-icecola li a {
    color: white;
}

/**/
@media only screen and (min-width: 992px) {

}

.nav-icecola .navbar-brand {
    color: white;
    font-weight: bold;
}

.nav-icecola li > a:hover {
    color: black;
}

/*welcome*/

.welcome {
    background-image: url("../images/bg1.jpg");
}

.welcome h1, .welcome p, .welcome a {
    color: white;
}

header.post-heading {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    padding: 200px 0 150px;
    position: relative;
    background-size: cover;
}

/*设置颜色和边框宽度*/
header.post-heading .site-heading {
    padding: 10px 0 150px;
    color: #fff;
}

/*heading title 大小*/
header.post-heading .site-heading h1 {
    font-size: 50px;
}

/*p 和a的样式*/
header.post-heading .site-heading p, header.post-heading .site-heading a {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

/*作者等信息*/
header.post-heading .site-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora, 'Times New Roman', serif
}

header.post-heading .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5
}

/*header的文字*/
header.site-heading {
    text-align: center;
}

head.site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

/*foot */
.footer-icecola {
    height: 100px;
    width: 100%;
    text-align: center;
}

/*about*/
.about {
    font-size: 30px;
    margin-top: 30px;
    width: 100%;

}

/*文章内容*/
.blog-post {
    margin-top: 50px;
    margin-bottom: 30px;
    /*padding-bottom: 20px;*/
}

.active {
    padding-left: 20px;
    padding-right: 40px;
    color: #1e7e34;
}

/*sidebar*/
.side-bar {
    margin-top: 100px;
}

.side-bar-module {
    padding-top: 20px;
    margin: 0 40px 20px;
}

.side-bar-module span{
    float: right;
    height: 45px;
}
.side-bar-module li{
    margin-right: 0;
    margin-top: 30px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

button.group-button {
    color: green;

}

/*profile*/
.profile-thumbnail {
    margin-right: 80px;
    margin-top: 10px;
    padding-right: 60px;
    margin-bottom: 40px;
    position: absolute;
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

.profile-href {
    margin-left: 60px;
    color: white;
}

.profile-header {
    min-height: 180px;
    margin-left: 180px;
}

div.post-tabs {
    margin-top: 16px;
    margin-left: 250px;
    height: 100px
}

/*post*/

.post-body {
    margin-left: 15px;
}

.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

div.post-headers {
    padding-right: 100px;
    padding-bottom: 20px;
}

ul.posts {
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*margin: 16px 0 0px 0px;*/
    /*border-top: 1px solid #e0e0e0;*/
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 2px solid black;
}

div.post-date {
    float: right;
}

div.post-author {
    margin-left: 20px;
    font-weight: bold;
}

img.post-thumbnail {
    position: absolute;
    padding-left: 30px;
}

div.img-rounded {

}

div.post-content {
    margin-left: 60px;
    min-height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom: 30px;
}

div.post-footer {
    text-align: right;
    font-size: 30px;
}

.admin_button {
    text-align: right;
}

/*comment*/
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

p.post-timestamp {
    color: #0c5460;
    padding-top: 20px;
    font-size: 30px;
    text-align: left;

}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

/*评论*/
#comment {
    margin-bottom: 20px;
}

/*评论的输入*/
.comment-input {
    margin-bottom: 50px;

}

/*user页面关注的人增加宽度*/
div.user_follow {
    margin-bottom: 30px;
}

/*page*/
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

/*文章列表页面*/
.post-preview {

}

/*最小为768px*/
@media only screen and (min-width: 768px) {
}

/*标题*/
.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    /*color: black;*/
}

.post-preview > a > .post-subtitle {
    font-weight: 300;
    /*top left right bottom*/
    margin: 0 0 10px;

}

/*属性*/
.post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}

li.sort_button {
    float: right;
}

/*文字和icon之间的间距*/
.text-icon {
    margin-right: 50px;
}


/*button*/
.btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.btn-primary {
    background-color: #0085a1;
    border-color: #0085a1
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important
}




