

    <div class="blog-header">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">发表于 {{ post.timestamp }} </p>
        <div class="post-headers">
                                    <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                <a class="profile-href" href="{{ url_for('.user',username=post.author.username) }}">{{ post.author.username }}</a>
        </div>
        <div class="blog-post">

                        {% if post.body_html %}
     {{ post.body_html|safe}}
    {% else %}
    {{ post.body}}
    {% endif %}
        </div>
    </div>
