{% extends 'bootstrap/base.html' %}

{% block title %}
    <title>IceCola</title>
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/my_css.css') }}>
    <link rel="shortcut icon" href="{{ url_for('static',filename='image/1_37.jpg') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'image/favicon.ico') }}"
          type="image/x-icon">
{% endblock %}

<body>
{% block navbar %}
    <nav class="navbar navbar-light bg-light">
        <ul class="nav navbar-collapse">
            <li><a class="navbar-brand" href="/">首页</a></li>
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link"
                                        href="{{ url_for('main.user',username=current_user.username) }}">个人主页</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.post_article') }}">写文章</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.messages') }}">查看私信 </a></li>

                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.tasks') }}">任务队列</a></li>
                {% set new_messages = current_user.new_messages() %}
                <span id="message_count" class="badge" style="visibility: {% if new_messages %}
                    visible {% else %} hidden {% endif %}"> {{ new_messages }}</span>
                <li class="nav-item"><a href="{{ url_for('main.export_posts_view') }}">导出你的文章</a></li>
            {% endif %}
            {% if current_user.can(Permisson.MODERATE_COMMENTS) %}
                <li><a class="nav-link" href="{{ url_for('main.moderate') }}">修改评论</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">注销</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">登录</a></li>
            {% endif %}
        {% if g.search_form %}
            <form class="navbar-form inline-flex" method="get" action="{{ url_for('main.search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20,class='form-control',placeholder=g.search_form.q.label.text) }}
            </div>
            </form>
        {% endif %}

        </ul>

    </nav>


{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if current_user.is_authenticated %}
            {#            {% with tasks=current_user.get_tasks_in_progress() %}#}
            {#{% if  %}#}
            {#                {% for task in tasks %}#}
            <div class="offset-1 col-md-6 col-sm-12">
            <div class="alert alert-success" id="progress_bar" hidden role="alert">
                导出进度：
                {#                        {{ task.description }}#}
                <span id="task-progress">0</span>%
            </div>
            {#                {% endfor %}#}
            {#                    {% endif %}#}
            {#            {% endwith %}#}
        {% endif %}
        {% for message in get_flashed_messages() %}
            <div class="offset-1 col-md-6 alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        </div>

        <div class="row">
            <div class="offset-1 col-md-6">
                {% block page_content %}
                    {% if current_user.is_authenticated %}
                        {% with tasks=current_user.get_tasks_in_progress() %}
                            {% if tasks %}
                                {% for task in tasks %}
                                    <div class="alert alert-success" role="alert">
                                        {{ task.description }}
                                        <span id="{{ task.id }}-progress"> {{ task.get_progress() }} </span>
                                    </div>
                                {% endfor %}


                            {% endif %}

                        {% endwith %}
                    {% endif %}
                {% endblock %}
            </div>

            {% block sidebar %}
                <div class="offset-1 col-md-3">

                    <div class="side-bar-module sidebar-module-inset">
                        <p id="people_num"> 总访问人数 </p>
                        {#                                                <h4>About</h4>#}
                        {#                                                <p><em>樊佳亮 山东大学 2015级 软件工程专业 <br></em>个人flask学习项目。#}
                        {#                                                    <em>qq:995972493<br></em>#}
                        {#                                                    <em>wechat:18340071291</em>#}
                        {#                                                </p>#}
                    </div>
                    <div class="side-bar-module">
                        <h4>Archives</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>
                            <li><a href="#">September 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                            <li><a href="#">July 2013</a></li>
                            <li><a href="#">June 2013</a></li>
                            <li><a href="#">May 2013</a></li>
                            <li><a href="#">April 2013</a></li>
                        </ol>
                    </div>
                    <div class="side-bar-module">
                        <h4>Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com/Colaplusice">GitHub</a></li>
                            <li><a href="https://blog.csdn.net/fanjialiang2401">CSDN</a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100010410976941">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="blog-footer">
        <p>樊佳亮的博客</p>
        <p><a href="#">返回顶部</a></p>
    </footer>
{% endblock %}

{% block scripts %}

    <script>
        function set_task_progress(task_id, progress) {
            $('#progress_bar').removeAttr("hidden");
            $('#task-progress').text(progress);
            if (progress === 100) {
                alert('导出成功！');
                $('#progress_bar').attr("hidden", 1);

            }
        }

        {#更新id 为message的 的值和css#}

        function set_message_count(n) {
            $('#message_count').text(n);
            $('message_count').css('visibility', n ? 'visible' : 'hidden')
        }

        {% if current_user.is_authenticated %}
            $(function () {
                var since = 0;
                setInterval(function () {
                    $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                        {#返回值 #}
                        function (notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                switch (notifications[i].name) {
                                    case '未读的消息数':
                                        set_message_count(notifications[i].data);
                                        break;
                                    case 'task_process':
                                        set_task_progress(notifications[i].data.task_id,
                                            notifications[i].data.progress);
                                        break;
                                }
                                since = notifications[i].timestamp;
                            }
                        }
                    );
                }, 1000);
            });
        {% endif %}

    </script>




    <script>

        function update_progress(status_url) {
            $.getJSON(status_url, function (data) {
                percent = parseInt(data['current'] * 100 / data['total']);
                {# update progress #}
                var task_id = status_url.split('/');
                set_task_progress(task_id[task_id.length - 1], percent);
                {#alert(percent);#}
                $('#progress_label').text(percent);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function () {
                        update_progress(status_url);
                    }, 2000);
                }
            });
        }

        function start_export_post() {
            $.ajax({
                type: 'POST',
                url: '{{ url_for('main.export_posts') }}',
                success: function (data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url);
                },
                error: function () {
                    alert('Unexpected error');
                }
            });
        }


    </script>

    {{ super() }}
    <script src=" {{ url_for('static',filename='js/my.js') }}"></script>
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}

{% endblock %}
