{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block page_content %}
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li class="nav-pills {% if not show_followed %}  active {% endif %}">
                <a href="{{ url_for('.show_all') }}" class="nav-link">
                    <h1>全部文章</h1>
                </a></li>
            {#    <如果是认证用户></如果是认证用户>#}
            {% if current_user.is_authenticated %}
                <li class=" nav-pills {%if show_followed %} active {% endif %}">
                    <a class="nav-link" href="{{ url_for('.show_followed') }}"><h1>订阅列表</h1></a>
                </li>
            {% endif %}
            {#            <li class="active">#}
            {#                <div class="dropdown">#}
            {#                    <a class="dropdown-toggle active" type="button" id="about-us" data-toggle="dropdown"#}
            {#                       aria-haspopup="true" aria-expanded="false">排序#}
            {#                    </a>#}
            {#                    <div class="dropdown-menu" aria-labelledby="about-us">#}
            {#                        <a class="dropdown-item" href="#">时间</a>#}
            {#                        <a class="dropdown-item" href="#">热度</a>#}
            {#                        <a class="dropdown-item" href="#">内容</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </li>#}
        </ul>
    </div>
    {% include '_posts.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pagination">
                    {{ macros.pagination_widget(pagination,'.index') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
